doctype html
html
    head
        title Knowledgebase

        style(type='text/css').
           .green { color: #008080; }

            .red { color: #800000; font-weight: bold; }

    body
        block content
        br
        hr
        footer
            p Copyright &copy; 2018